@model IEnumerable<Cognizant.Tools.ProjectMetrics.DataLayer.PM_EDMX.Tasks>

@{
    ViewBag.Title = "Index";
}

<h2>Task List</h2>

<p class="text-right">
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            Description
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Total Duration
        </th>
        <th>
            Total Effort
        </th>
        <th>
            Task Type
        </th>
        <th>
            Task Status
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEffort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
